[run]
source = tecken
branch = True
data_file = /tmp/.coverage

[report]
omit =
    tests/*
    tecken/settings.py
    tecken/wsgi.py
    *migrations*
    *management*
    *management/commands*


[xml]
output = /tmp/coverage.xml
