PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# You must set this
DJANGO_SECRET_KEY=dontusethisinprod

# Only override this if you need something different from the default
#DJANGO_ALLOWED_HOSTS=

# When you use motocker, these just needs to be anything
AWS_ACCESS_KEY_ID=anything
AWS_SECRET_ACCESS_KEY=anything
#AWS_DEFAULT_REGION=us-west-2

# Sentry is not used when doing local development.
#SENTRY_DSN=....
#SENTRY_PUBLIC_DSN=....

# Get these settings from Auth0 or some provider you use.
DJANGO_OIDC_RP_CLIENT_ID=mustbesomething
DJANGO_OIDC_RP_CLIENT_SECRET=mustbesomething
