all-metrics-keys.json
.cache/
.coverage
coverage
coverage.xml
*.db
.devcontainer-build
dist/
.docker-build
docs/_build
.DS_Store
.env
frontend/.eslintcache
node_modules/
.npm/
npm-debug.log*
*.pyc
__pycache__
.pytest_cache/
revision.txt
slick.sh
version.json
yarn-debug.log*
yarn-error.log*

# Ephemeral systemtest data
systemtests/data/
