.env
*.pyc
.DS_Store
docs/_build
MANIFEST
.coverage
coverage.xml
*.db
dist/
/static/
.cache/
revision.txt
version.json
htmlcov
node_modules/
.npm/
.bash_history
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docker-build
.python_history
hack.*py
all-metrics-keys.json
test-upload-inbox/
upload-inbox/
miniodata/
.pytest_cache/
.cache/
docsvenv
