Sphinx==4.2.0
black==21.9b0
boltons==21.0.0
boto3==1.18.53
botocore==1.21.53
celery==5.1.2
click==7.1.2
datadog==0.42.0
dj-database-url==0.5.0
django-cache-memoize==0.1.10
django-configurations==2.2
django-redis==5.0.0
dockerflow==2021.7.0
encore==0.7.0
everett==2.0.1
falcon==3.0.1
flake8==3.9.2
gunicorn==20.1.0
honcho==1.1.0
inotify_simple==1.3.5
jsonschema==4.0.1
markus[datadog]==3.0.0
mock==4.0.3
mozilla-django-oidc==2.0.0
msgpack==1.0.2
pip-tools==6.3.0
pytest-django==4.4.0
pytest-mock==3.6.1
pytest==6.2.5
python-dateutil==2.8.2
raven==6.10.0
requests-mock==1.9.3
requests==2.26.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-httpdomain==1.8.0
symbolic==8.3.1
ujson==4.2.0
urllib3==1.26.7
urlwait==1.0
whitenoise==5.3.0

# NOTE(willkg): Need to keep redis at this version because after this, the Python
# library doesn't work with the version of Redis we're using in production
redis==3.4.1

# NOTE(willkg): Django 2.2 is an LTS series so don't upgrade until the next
# LTS.
Django==2.2.24

# NOTE(willkg): have to stay with 2.8.6 until we upgrade to Django 3.2;
# https://github.com/psycopg/psycopg2/issues/1293
psycopg2==2.8.6
