boto3==1.34.162
botocore==1.34.162
click==8.1.7
dj-database-url==2.2.0
django-admin-cursor-paginator==0.1.6
django-redis==5.4.0
dockerflow==2024.4.2
encore==0.8.0
everett==3.3.0
fillmore==2.0.0
google-cloud-storage==2.18.2
gunicorn==23.0.0
honcho==1.1.0
markus[datadog]==5.0.0
mozilla-django-oidc==4.0.1
msgpack==1.0.8
pip-tools==7.4.1
psycopg2==2.9.9
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
redis==5.0.8
requests-mock==1.12.1
requests==2.32.3
ruff==0.6.4
sentry-sdk==2.14.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-httpdomain==1.8.1
werkzeug==3.0.4
whitenoise==6.7.0

# NOTE(willkg): We stick with LTS releases and the next one is 5.2 (2025).
Django==4.2.16
