Sphinx==5.1.1
backoff==2.1.2
black==22.8.0
boltons==21.0.0
boto3==1.24.65
botocore==1.27.65
celery==5.2.7
click==8.1.3
datadog==0.44.0
dj-database-url==1.0.0
django-cache-memoize==0.1.10
django-redis==5.2.0
dockerflow==2022.8.0
encore==0.8.0
everett==3.0.0
falcon==3.1.0
fillmore==0.1.2
flake8==5.0.4
gunicorn==20.1.0
honcho==1.1.0
inotify_simple==1.3.5
jsonschema==4.15.0
markus[datadog]==4.0.1
mock==4.0.3
mozilla-django-oidc==2.0.0
msgpack==1.0.4
pip-tools==6.8.0
psycopg2==2.9.3
pytest==7.1.3
pytest-django==4.5.2
pytest-mock==3.8.2
python-dateutil==2.8.2
requests-mock==1.10.0
requests==2.28.1
sentry-sdk==1.9.7
sphinx-rtd-theme==1.0.0
sphinxcontrib-httpdomain==1.8.0
symbolic==9.1.1
ujson==5.4.0
urllib3==1.26.12
urlwait==1.0
werkzeug==2.2.2
whitenoise==6.2.0

# NOTE(willkg): Need to keep redis at this version because after this, the Python
# library doesn't work with the version of Redis we're using in production
redis==3.4.1

# NOTE(willkg): We stick with LTS releases and the next one is 4.2 (2023).
Django==3.2.15
