select[multiple].multi-select {
    all: initial;
    font: inherit;
    overflow-y: auto;
    border-radius: 3px;
    padding-bottom: 0.5em;
    padding-left: 0.625em;
    padding-top: 0.5em;
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 2.5em;
}

select[multiple].multi-select:active, select[multiple].multi-select:focus {
    border-color: #00d1b2;
}


.token-expired {
  color: red;
  font-weight: bold;
}
