server {
    server_name %HOSTNAME%;
    rewrite (.*) https://%HOSTNAME%$1 permanent;
}


server {
    root %ROOT%;
    server_name %HOSTNAME%;

    listen 443;
    ssl_certificate      %HERE%/selfsigned.crt;
    ssl_certificate_key  %HERE%/selfsigned.key;
    ssl_session_cache shared:SSL:10m;

    gzip  on;
    gzip_buffers 16 8k;
    gzip_comp_level 6;
    gzip_http_version 1.1;
    gzip_min_length 256;
    gzip_proxied any;
    gzip_vary on;

    client_max_body_size 20M;

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;

    try_files
      $uri
      @proxy;

    location @proxy {
       proxy_pass http://127.0.0.1:8000;
    }

    access_log  /tmp/%HOSTNAME%.access.log combined;
    error_log  /tmp/%HOSTNAME%.error.log;
}
